@charset "utf-8";
*{
    list-style: none;
}
a{
    text-decoration: none;
    color:inherit;
}
header{
    background-color: rgb(243, 240, 240);
    width: 100%;
    height: 130px;
    position: sticky;
    top: 0px;
    z-index: 9999;
    border-bottom: 1px solid grey;
}
.top_menu{
    /* border: 1px solid gray; */
    width: 70%;
    height: 130px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.top_menu_1 li{
    display: inline-block;
    color: grey;
    font-size: 12px;
    padding-right: 20px;
}

.top_menu_2{
    /* float:right; */
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.top_menu_2 li{
    display: flex;
    color: grey;
    font-size: 12px;
    padding-left: 20px;
}
nav{
    border-bottom: 1px solid rgb(88, 88, 88);
    background-color: white;
    width: 100%;
    height: 45px;
    line-height: 45px;
    /* height: 100px; */
    font-weight: bold;
    font-size: 13px;
    position: relative;
}
nav .left_men{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 280px;
}
nav .left_men li{
    padding-right: 20px;
    color: #998366;
}

nav .main-menu {
    /* border: 1px solid rebeccapurple; */
    height: 45px;
    line-height: 45px;
    position: absolute;
    right: 280px;
    z-index: 1;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    /* border: 2px solid rgb(99, 41, 181); */
}
nav .main-menu .item{
    /* border: 2px solid green; */
    height: 45px;
    line-height: 45px;
    padding: 0 40px;
    /* width: 200px; */
  }
  nav .main-menu .item .item_name {
    font-family: Arial, sans-serif;
    font-size: 13px;
    cursor: pointer;
  }
  nav .main-menu .item:hover .item_name {
    /* background-color: #2C2A29; */
    color: #EA9926;
  }
  nav .main-menu .item .item_contents {
    width: 100%;
    position: fixed;
    left: 0;
    display: none;
  }
  nav .main-menu .item:hover .item_contents {
    display: block;
  }
  nav .main-menu .item .item_contents .contents_menu {
    background-color: #fff;
    height: 340px;
  }
  nav .main-menu .item .item_contents .contents_menu > ul {
    /* padding: 20px 0; */
    display: flex;
    justify-content:center;
    width: 70%;
    height: 350px;
    margin: 0 auto;
    /* margin-left: 19%; */
    /* border:3px solid rgb(14, 187, 51); */
  }
  nav .main-menu .item .item_contents .contents_menu > ul > .info_donut{
    /* border: 10px solid yellow; */
    width: 100px;
    display: flex;
    /* justify-content: center; */
    align-items: left;
    padding-top: 50px;
  }
  nav .main-menu .item .item_contents .contents_menu > ul > li {
    /* width: 220px; */
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 50px;
    align-items:flex-start;
    width: 100%;
    /* border:3px solid palevioletred; */
  }
  nav .main-menu .item .item_contents .contents_menu .inner .first_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border:  10px solid green; */
  }
  nav .main-menu .item .item_contents .contents_menu > ul >li img{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  nav .main-menu .item .item_contents .contents_menu > ul > li h2 {
    /* padding: 3px 0 12px 0; */
    font-size: 14px;
    color: #998366;
  }
  nav .main-menu .item .item_contents .contents_menu > ul > li ul li {
    /* padding: 5px 0; */
    font-size: 12px;
    line-height: 17px;
    color: #999;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  nav .main-menu .item .item_contents .contents_menu > ul > li ul li:hover {
    color: #EA9926;
  }

/* 메인비주얼 */
main{
    /* border: 3px solid red; */
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 45px;
}
.mySwiper1 {
    /* border: 3px solid violet; */
    width: 100%;
    height: 100%;
  }

.mySwiper1 .swiper-slide {
    /* border: 2px solid green; */
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.mySwiper1 .swiper-slide img {
    /* display: block; */
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .mainvisual{
    border: 10px solid green;
    position: relative;   
    width: 100%;
    height: 650px;
} */
.mainvisul_img{
    /* border: 3px solid rgb(17, 19, 177); */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.main_content{
    /* border: 4px solid red; */
    position: relative;
    width: 1400px;
    margin: 0 auto;
    height: 650px;
}
.mySwiper1 .main_content h3 img{
    /* border: 10px solid yellow; */
    width: 100px;
    height: auto;
    position: absolute;
    top: 100px;
    left: 200px;
}
.mySwiper1 .main_content p{
    /* border: 1px solid yellow; */
    width: 100px;
    position: absolute;
    top: 50px;
    right: 50px;
}
.mySwiper1 .main_content .main__logo3{
    /* border: 2px solid blue; */
    width: 500px;
    height: auto;
    position: absolute;
    top: 200px;
    left: 180px;
}
.mySwiper1 .swiper-button-next{
    z-index: 9999;
}

/* <new & event> */
.new_ad{
    /* border: 10px solid aqua; */
    width: 100%;
    /* height: 1000px; */
    margin-top: 70px;
}
.main_2{
    /* border: 10px solid red; */
    width: 60%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main_22{
    /* border: 1px solid green; */
    width: 250px;
    height: 270px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}
.new{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 13px;
}
.text0{
    font-size: 12px;
    margin-bottom: 13px;
}
.main_22 button{
    background-color: white;
    border: 1px solid rgb(54, 54, 54);
    color:  grey;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 30px;
}
.main_2 iframe{
   border-radius: 10px;
}
.main_3{
    /* border: 10px solid blue; */
    width: 60%;
    margin: 30px auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ad1{
    border: 1px solid rgb(107, 107, 107);
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    width: 250px;
    height: 430px;
    /* margin-left: 30px; */
    vertical-align: text-top;
    cursor: pointer;
}
.ad__main{
    width: 100%;
    border-bottom: 1px solid rgb(150, 149, 149);
}
.text1{
    /* border: 1px solid red; */
    width: 250px;
    text-align: left;
}
.title1{
    font-size: 20px;
    color: rgb(44, 34, 16);
    font-weight: bold;
    margin-bottom: 13px;
    margin-left: 10px;
    
}
.date1{
    font-size: 13px;
    color: rgb(150, 149, 149);
    float: left;
    margin-left: 10px;
}
.online{
    /* border: 1px solid green; */
    float: right;
    margin-right: 18px;
    margin-bottom: 10px;
}
.text2{
    clear: both;
    padding-top: 20px;
    padding-left: 10px;
    border-top: 1px solid rgb(150, 149, 149);
    color: rgb(150, 149, 149);
    font-size: 15px;
    font-weight: bolder  
}

/* <배너광고> */

.bnr_happy{
    /* border: 3px solid red; */
    width: 100%;
    height: 500px;
    margin-top: 70px;
    background: url(../image/dunkin_img7.jpg) no-repeat center / cover;
    background-attachment: fixed;
}

.bnr1{
    /* border: 1px solid green; */
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}
.bnr1_1{
    /* border: 5px solid pink; */
    position: absolute;
    width: 500px;
    height: 300px;
    top: 150px;
   

}
.bnr1_text{
    font-size: 50px;
    color: rgb(131, 77, 52);
    font-weight: lighter;
    position: absolute;
    left: 20px;
}
.bnr1_text2{
    /* border: 1px solid red; */
    font-size: 50px;
    color: rgb(131, 77, 52);
    font-weight: lighter;
    position: absolute;
    top: 55px;
    left: 100px;
}
.bnr1_text3{
    font-weight: bold;
    font-size: 13px;
    color: gray;
    position: absolute;
    left: 110px;
    top: 130px;
}
.bnr1_text3 span{
    color: rgb(139, 110, 55);
}
.bnr1_text4{
    font-size: 12px;
    position: absolute;
    top: 150px;
    left: 110px;
    color: gray;
}

/* 던킨도넛의 메뉴 */

.menu_ad{
    /* border: 1px solid red; */
    width: 100%;
    /* height: 700px; */
    margin-top: 70px;
}
.menu_ad2{
    /* border: 2px solid green; */
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
}
.menu_3{
    /* border: 1px solid red; */
    width: 100%;
    color: #998366;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    line-height: 13px;
    /* position:absolute; */
}
.main3_3{
    margin-top: 20px
}
.menu_list{
    /* border: 2px solid green; */
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;

}
.main4{
    /* border: 1px solid red; */
    display: inline-block;
    width: 180px;
    text-align: center;
    cursor: pointer;
}
.main4:hover img{
    border-radius: 50%;
    transform: translate(5px,-5px);
    box-shadow: -5px 5px 1px rgba(80, 80, 80, 0.5);
}

.product1 img{
    width: 100%;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    
}

.product2{
    font-size: 20px;
    color: rgb(77,48,48);
}
.main4 button{
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px 15px;
    color:  rgb(172, 169, 169);
    margin-top: 10px;
}
.bnr_store{
    background: url(../image/dunkin_img8.jpg) no-repeat center / cover;
    background-attachment: fixed;
    position: relative;
    height: 500px;
    width: 100%;
}
.bnr_store1{
    /* border: 10px solid green; */
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}
.store{
    /* border: 1px solid green; */
    position: absolute;
    top: -30px;
    right: 120px;
    cursor: pointer;
}

.bnr2_text{
    /* border: 1px solid red; */
    width: 200px;
    position: absolute;
    top: 160px;
    left: 100px;
}

.bnr2_text h3{
    color: aliceblue;
    margin-bottom: 10px;
}
.bnr2_text p{
    color: aliceblue;
    font-size: 14px;
}
.bnr2_text p span{
    color: orange;
    font-size: 14px;
}
.brn2_2{
    position: absolute;
    top: 160px;
    left: 200px;
    cursor: pointer;
}
.bnr2_text2{
    /* border: 1px solid green; */
    width: 230px;
    position: absolute;
    top: 160px;
    left: 150px;
}
.bnr2_text2 h4{
    color: rgb(44, 34, 16);
    margin-bottom: 10px;
}

.bnr2_text2 p{
    color: rgb(44, 34, 16);
    font-weight: 12;
}

/* <sns 부분> */

.sns_ad{
    /* border: 3px solid gold; */
    width: 100%;
    margin-top: 70px;
    height: 650px;
    position: relative;
}  

.sns_ad2{
    /* border: 10px solid blue; */
    width: 60%;
    /* height: 500px; */
    margin: 0 auto;
    position: relative;
}
.sns{
    /* border: 1px solid green; */
    width: 100%;
    text-align: center;
}
.sns p{
    margin-top: 20px;
}
.sns ul li{
    display: inline-block;
    margin: 0 20px;
    margin-top: 10px;
}
.sns ul li img{
    cursor: pointer;
    width: 20px;
    border: 1px solid #998366;
    border-radius: 50%;
    padding: 20px;
    margin-top: 10px;
}

/* <sns 슬라이드 부분>> */

.mySwiper2 {
    /* border: 2px solid red; */
    margin-top: 50px;
    width: 100%;
    height: 300px;
    /* height: 100%; */
  }

.mySwiper2 .swiper-slide {
    /* border: 5px solid green; */
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex; */
    /* display: flex; */
    /* -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; */
  }

.mySwiper2  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


/* <푸터>> */

footer{
    /* border: 1px solid hotpink; */
    width: 100%;
    height: 300px;
}
.content7{
    border-top: 1px solid grey;
    padding-top: 20px;
    width: 70%;
    height: 200px;
    margin: 50px auto;
    text-align: center;
}
.content7 ul{
    vertical-align: text-top;
}
.content7_1{
    /* border: 1px solid red; */
    display: inline-block;
    float: left;
    margin: 0px 0px;
    text-align: left;
}
.content7_1 img{
    width: 100px;
}
.content7_1 li{
    margin-bottom: 10px;
}
.f1{
    /* border: 1px solid blue; */
    display: inline-block;
    text-align: left;
    margin: 0 20px;
}
.footer_1{
    font-weight: bold;
}
.content7_2{
    /* border: 1px solid yellow; */
    display: inline-block;
    float:right;
    text-align: right;
}
.content7_2 li{
    margin-top: 10px;

}

.top2{
    width: 150px;
    margin: 100px;
    border-bottom: 3px solid black;
}
.top3 p {
    display: inline-block;
    margin-left: 20px;
   /* float: left; */
}
.top3 img{
    width: 20px;
    margin-left: 10px;
    vertical-align: middle;
    /* float: right; */
}
